<p><strong>Olá {{ student }},</strong></p>
<p>Segue o esclarecimento de suas dúvidas</p>
<p>{{ question }}<p>
<p>{{ answer }}<p>
<p>Caso ainda possua alguma dúvida, você pode responder este e-mail<p>
