<p style="text-align: center;"><strong>Parabéns {{ student }}, sua matricula foi efuatada com sucesso!!!</strong></p>
<p>Você se matriculou no plano: {{ plan }}</p>
<p>Sua aulas começaram no dia <strong>{{ date }}</strong></p>
<p>Estamos ansiosos para te conhecer</p>
